boundary p p p
echo both
units           metal
newton          off
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
variable w       equal W
variable nn      equal NN
variable nsteps  equal NSTEPS
variable db      string DB
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
lattice         diamond 5.430949778462431
variable        cut equal 4. 
# nearest neighbor distance :  2.35 [A].
region          BOX block 0 $w 0 $w 0 $w
read_data Si_$w.data
variable natoms equal atoms
timestep 0.0005 # 0.001
thermo_style custom step temp etotal
thermo 100
fix NVE all nve
#------------------------------------------------
# (2) database run
#------------------------------------------------
thermo 1
reset_timestep 0
variable tol                equal 1.e-3 # 1.e-6
variable max_local_clusters equal 1
pair_style database ${cut} ${nn} ${db} ${tol} ${max_local_clusters}
pair_coeff      * *
dump F all custom 1 Si_run-force.dmp id type fx fy fz
dump_modify F sort id format "%d %d %24.19g %24.19g %24.19g"
log db.log
variable T equal temp
fix P all print 1 "$T" file db.dat
run ${nsteps}
